* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {

}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #06111c;
}

nav ul {
    color: #fff;
    padding: 1rem 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 2rem 1rem;
    max-width: 1333px;
    margin: auto;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin: 8rem 0;
    justify-content: center;
}

.section figure {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section img {
    max-width: 100%;
    border-radius: 8px;

}


.section figcaption {
    text-align: left;
    padding: 1rem;
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.quote {
    margin-top: 10px;
    font-style: italic;
    font-size: 1.2em;
    color: #555;
    text-align: center;
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
}

@media (min-width: 769px) {
    .section:nth-child(3) {
        flex-direction: row-reverse;
    }

}

@media (min-width: 2049px) {
    .container {
        max-width: 1800px;
    }

    .section img {
        width: 1200px;
        height: auto;
        border-radius: 16px;
    }

    .section figcaption {
        text-align: left;
        padding: 1rem 6rem 1rem 1rem;
    }

    #locTwoDesc {
        text-align: left;
        padding: 1rem 1rem 1rem 6rem;
    }

}


@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .section figure {
        flex: 1;
    }

    .section figcaption {
        padding: 1rem;
    }

    .quote {
        font-size: 1em;
    }
}