*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 2rem 1rem;
    max-width: 1900px;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: center; 
}

.section figure {
    flex: 1 1 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section img {
    max-width: 100%;
    border-radius: 8px;
}

.section figcaption {
    text-align: left;
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .section {
        flex-direction: row;
    }

    .section figure {
        flex: 1 1 100%;
    }

    .section figcaption {
        padding: 1rem;
    }
}
